/*  your css code here. If applicable */
#yellow{
	background:yellow;
	border-width:1px;
	border-color:green;
}
#red{
	background:red;
	border-width:1px;
	Border-color:black;
}
#green{
	background:green;
	border-width:1px;
	border-color:yellow;
}
