/*  your css code here. If applicable */
#yellow{
	background:yellow;
	border-width:1px;
	border:1px solid green;
}
#red{
	background:red;
	border-width:1px;
	border:1px solid black;
}
#green{
	border:1px solid yellow;
	background:green;
	border-width:1px;
	
}
